"*":
  "atom-beautify":
    _analyticsUserId: "82587586-8282-40c8-9ee6-352bf2bdcf79"
  core:
    ignoredNames: [
      ".bundle"
      ".capistrano"
      ".gitignore"
      ".vagrant"
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thunbs.db"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 13
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "81eca08e-f4c2-6387-f158-df318f7352d1"
  "linter-rubocop": {}
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  pigments:
    supportedFiletypes: [
      "*.css"
      "*.html"
      "*.htm"
      "*.less"
      "*.scss"
    ]
  "rails-rspec": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
